@model CarDetailsServiceModel
@inject IRentierService rentierService
@inject ICarService carService
@{
    ViewBag.Title = "Car Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Car Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Located in: <b>@Model.Town</b></p>
            <p>
                Price Per Day:
                <b>@String.Format("{0:f2}", Model.PricePerDay) BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Category: <b>@Model.Category</b></p>
            <p><i>(@(Model.IsRented ? "Rented" : "Not Rented"))</i></p>
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    if (await carService.HasRentierWithIdAsync(Model.Id, User.Id()))
                    {
                        <a class="btn btn-warning" asp-controller="Car" aspaction="Edit"
                           asp-route-id="@Model.Id">Edit</a>
                        <a class="ml-2 btn btn-danger" asp-controller="Car" aspaction="Delete"
                           asp-route-id="@Model.Id">Delete</a>
                    }
                    @if (!Model.IsRented && (await rentierService.ExistByIdAsync(User.Id())) == false)
                    {
                        <form class="ml-2" asp-controller="Car"
                              asp-action="Rent" asp-route-id="@Model.Id"
                              method="post">
                            <input class="btn btn-primary" type="submit"
                                   value="Rent" />
                        </form>
                    }
                    else if (await carService.IsRentedByIUserWithIdAsync(Model.Id, User.Id()))
                    {
                        <form class="ml-2" asp-controller="Car" asp-action="Leave"
                              asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit"
                                   value="Leave" />
                        </form>
                    }
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Rentier Info</h5>
                    <p class="card-text">Full Name: @Model.Rentier.FullName</p>
                    <p class="card-text">Email: @Model.Rentier.Email</p>
                    <p class="card-text">Phone Number: @Model.Rentier.PhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
</div>